<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>BookShelf</title>
  </head>
  <body>
    <div class="container-fluid m-0 p-0">
      <%- include('./partials/nav') %>
      

      <div class="px-4 py-4">
        <div class="row row-gap-4 grid mb-3" id="books-container"></div>
        <%- include('./partials/pagination') %>
      </div>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
