<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" aria-label="Previous" id="prev-button">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" id="prev"></a></li>
    <li class="page-item">
      <a class="page-link bg-primary text-light" id="current"></a>
    </li>
    <li class="page-item"><a class="page-link" id="next"></a></li>
    <li class="page-item"><a class="page-link" id="dot"></a></li>
    <li class="page-item"><a class="page-link" id="last"></a></li>
    <li class="page-item">
      <a class="page-link" aria-label="Next" id="next-button">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
